dashboard.nodered
[{"id":"c2c5dc12.05e0a","type":"mqtt in","z":"9daee77.6b28118","name":"CO level","topic":"COLevel","qos":"0","broker":"51705b10.81d244","x":80,"y":40,"wires":[["68fde90a.564528","b6169bf5.582438"]]},{"id":"68fde90a.564528","type":"ui_chart","z":"9daee77.6b28118","name":"","group":"f6a90ac4.38fcf8","order":1,"width":"6","height":"5","label":"Carbon Monoxide Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":40,"wires":[[]]},{"id":"9f2a286a.8566b8","type":"mqtt in","z":"9daee77.6b28118","name":"CO level ave","topic":"COLevelAve","qos":"0","broker":"51705b10.81d244","x":90,"y":400,"wires":[["9b57d599.0a9498"]]},{"id":"2addfdba.e9b022","type":"function","z":"9daee77.6b28118","name":"","func":"msg.payload = ((0.4591 * msg.payload + 51.799)/18.0182).toFixed(1)\nmsg.payload = msg.payload + \" mmol/L\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["660af7a8.94e608"]]},{"id":"660af7a8.94e608","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":3,"width":"6","height":"1","name":"","label":"Predicted Glucose Level:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":220,"wires":[]},{"id":"379a16f7.62db1a","type":"debug","z":"9daee77.6b28118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":480,"wires":[]},{"id":"673c2c6d.f28fc4","type":"mqtt in","z":"9daee77.6b28118","name":"CO level 05 sec","topic":"COLevel05","qos":"0","broker":"51705b10.81d244","x":100,"y":160,"wires":[["ec3a19ca.55e078"]]},{"id":"6e273c7d.943614","type":"mqtt in","z":"9daee77.6b28118","name":"CO level 10 sec","topic":"COLevel10","qos":"0","broker":"51705b10.81d244","x":100,"y":220,"wires":[["f059e4e4.98a6d8","2addfdba.e9b022"]]},{"id":"ec3a19ca.55e078","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":5,"width":"3","height":"1","name":"","label":"5 sec","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":160,"wires":[]},{"id":"f059e4e4.98a6d8","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":6,"width":"3","height":"1","name":"","label":"10 sec","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":220,"wires":[]},{"id":"32108a5d.b4e266","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":7,"width":"3","height":"1","name":"","label":"15 sec","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":280,"wires":[]},{"id":"2ee983da.122f0c","type":"mqtt in","z":"9daee77.6b28118","name":"CO level 15 sec","topic":"COLevel15","qos":"0","broker":"51705b10.81d244","x":100,"y":280,"wires":[["32108a5d.b4e266"]]},{"id":"109bfe19.b557d2","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":8,"width":"3","height":"1","name":"","label":"20 sec","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":340,"wires":[]},{"id":"e26197b8.4588e8","type":"mqtt in","z":"9daee77.6b28118","name":"CO level 20 sec","topic":"COLevel20","qos":"0","broker":"51705b10.81d244","x":100,"y":340,"wires":[["109bfe19.b557d2"]]},{"id":"2f717e1.1716e82","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":4,"width":"6","height":"1","name":"","label":"Carbon Monoxide levels:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":40,"wires":[]},{"id":"c8802450.652858","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":1,"width":"3","height":"1","name":"","label":"Analyze Breath:","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":100,"wires":[]},{"id":"476b6f1a.f107d","type":"ui_button","z":"9daee77.6b28118","name":"Start","group":"3802a4d7.2a9b8c","order":2,"width":"2","height":"1","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":70,"y":520,"wires":[["106e673f.fa68b9","379a16f7.62db1a"]]},{"id":"106e673f.fa68b9","type":"mqtt out","z":"9daee77.6b28118","name":"button start","topic":"button","qos":"0","retain":"","broker":"51705b10.81d244","x":270,"y":520,"wires":[]},{"id":"9b57d599.0a9498","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":8,"width":"3","height":"1","name":"","label":"Average:","format":"{{msg.payload}}","layout":"row-spread","x":280,"y":400,"wires":[]},{"id":"75e5f7b0.166298","type":"mqtt in","z":"9daee77.6b28118","name":"status","topic":"status","qos":"0","broker":"51705b10.81d244","x":70,"y":580,"wires":[["39745765.61cc98"]]},{"id":"b6169bf5.582438","type":"ui_text","z":"9daee77.6b28118","group":"3802a4d7.2a9b8c","order":9,"width":"3","height":"1","name":"","label":"Current:","format":"{{msg.payload}}","layout":"row-spread","x":280,"y":80,"wires":[]},{"id":"39745765.61cc98","type":"ui_text","z":"9daee77.6b28118","group":"f6a90ac4.38fcf8","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":580,"wires":[]},{"id":"51705b10.81d244","type":"mqtt-broker","z":"","name":"aws mqtt","broker":"a132vkks0odbx1-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"9f6ab5b3.6b4a28","clientid":"test","usetls":true,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f6a90ac4.38fcf8","type":"ui_group","z":"","name":"CO level","tab":"e7ee4e13.749c5","order":1,"disp":true,"width":"6","collapse":false},{"id":"3802a4d7.2a9b8c","type":"ui_group","z":"","name":"CO and Glucose Measurement","tab":"e7ee4e13.749c5","order":2,"disp":true,"width":"6","collapse":false},{"id":"9f6ab5b3.6b4a28","type":"tls-config","z":"","name":"AWS IoT MQTT","cert":"","key":"","ca":"","certname":"e5fef5dfe4-certificate.pem.crt.txt","keyname":"e5fef5dfe4-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"e7ee4e13.749c5","type":"ui_tab","z":"","name":"gluCOmeter","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
